*{
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Abel', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
    background-image: url("img/textpozadina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header{
  background-color: black;
  border-bottom: 1px solid white;
}
.header .center{
    display: none;
}
.header ul{
  list-style: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.header ul li{
  display: inline;
}
.header ul .language{
    float: right;
}
.header ul li p{
    display: inline;
    cursor: pointer;
}
.header ul .instagram{
  position: relative;
  float: right;
  top: -5px;
  margin-right: 30px;
}
.header ul li #instagram{
  padding-right: 5px;
  top: 5px;
  position: relative;
}
.header ul li a{
  text-transform: lowercase;
  text-decoration: none;
  color: white;
}
.center{
    float: right;
}
#logo{
  position: absolute;
  width: 220px;
  height: 90px;
  top: -15px;
  left: -10px;
}
#order{
  padding-left: 15em;
}

.hover-underline-animation {
display: inline-block;
position: relative;
color: white;
}

.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
margin-top: 11px;
bottom: 0;
left: 0;
background-color: white;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}

/* baner */

.banner{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    position: relative;
}

@keyframes opacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.banner-img{
    animation: opacity 3s;
    animation: baner-anim 2s;
}
#baner-slika{
    position: relative;
    background-size: cover;
    width: 100%;
    height: auto;
}

@keyframes baner-anim {
  from {
    transform: translateY(30%);
  opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
  }

/*ispod hedera */

.slika{
  position: relative;
  width: 100%;
  height: 96vh;
  overflow: hidden;
  animation-name: pic-anim;
  animation-duration: 1.3s;
}
.underheader, .preslider{
    background-image: url("img/bela1.jpg");
  display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    overflow: hidden;
}
.underanimation{
  animation-name: slide-pic;
  animation-duration: 1.5s;
}
@keyframes slide-pic {
  from {
    transform: translateX(130%);
  opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
  }
#sl1{
  top: 0;
  left: 0;
  width: 95%;
  height: 96vh;
  object-fit:cover;
  margin-left: 5%;
}
h2{
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  color: black;
}
#lorem, #lorem1{
  font-size: 30px;
  color: white;
  color: black;
}
.text, .text1{
    width: 100%;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.dugme{
margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.dugme:hover{
  background-color: black;
  color: white;
}
.undertxtanimation{
  animation-name: slide-from-left;
  animation-duration: 1.5s;
}
@keyframes slide-from-left {
from {
  left: -110%;
}
to {
  left: 15%;
}
} 
/* Kraj animacije */
.cover{
  width: 100%;
}
.cover img{
  width: 100%;
  height: 52em;
}
.about, .about1{
    display: flex;
    height: 260px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.about p, .about1 p{
  color : floralwhite;
  margin: 20px;
  text-align: center;
}

.animationPic{
animation-name: slide-from-left;
animation-duration: 1s;
}
@keyframes slide-from-left {
from {
  transform: translateX(-130%);
opacity: 0;
}
to {
  transform: translateX(0%);
  opacity: 1;
}
}

.sl2 {
  width: 95%;
  height: 96vh;
  float: left;
  object-fit: cover;
  margin-left: -5px;


}
.animation{
animation-name: slide-from-right;
animation-duration: 2s;
}
@keyframes slide-from-right {
  from {
    transform: translateX(110%);
  opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Kraj animacije */
.swiper{
  max-width: 1200px;
  height: 700px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  margin-bottom: 200px;
  margin-top: 200px;
}
.swiper-slide img{
  width: 100%;
}
.video-box{
  display: flex;
  justify-content: center;
  background-color: black;
}
.video-box video{
  width: 100%;
}
.black{
  height: 100vh;
}
.sl{
  object-fit: cover;
}

.guide {
  background-color: black; 
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide h1 {
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.guide img {
  max-width: 100%;
  width: 65%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 10px;
}

.guide ul {
  list-style: disc;
  padding: 0;
  padding-left: 10px;
  color: white;
  margin-bottom: 50px;
}

.guide li {
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

.footer{
bottom: 0;
display: flex;
background-color: black;
width: 100%;
justify-content: center;
height: 110px;
border-top: 1px solid white; 
}
#footerLogo{
position: relative;
  width: 200px;
  height: 90px;
  margin-left: -3em;
}
.footerInstagram{
margin-top: 5em;
margin-left: -9.8em;
margin-bottom: 2em;
}
#instagramF{
position: relative;
top: 5px;
margin-left: -1.2em;
list-style: none;
}
.footer a{
text-decoration: none;
color: white;
}
.footer a{
text-decoration: none;
color: white;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}


@media (max-width: 1544px) {
  #sl1{
   
    width: 90%;
    margin-left: 10%;
  }
  .sl2{
    width: 90%;
    margin-left: -10%;
  }
}
@media (max-width: 1330px){
    .text h2, .text1 h2{
        font-size: 60px;
    }
    .swiper{
      max-width: 1100px;
      height: 620px;
  }
}

@media(max-width: 1200px){
    .swiper{
        max-width: 1000px;
        height: 550px;
    }
}

@media(max-width:1100px){
    .swiper{
        max-width: 950px;
        height: 520px;
        margin-top: 150x;
        margin-bottom: 150px;
    }
}
@media (max-width:1019px){
  .guide li {
    font-size: 15px;
  }
  .guide h1 {
    font-size: 27px;
  }
}
@media (max-width:1000px){
  .text h2, .text1 h2{
      font-size: 50px;
  }
  .swiper{
      max-width: 900px;
      height: 500px;
      margin-top: 80x;
      margin-bottom: 80px;
  }
}
@media(max-width: 855px){
  @keyframes slide-from-left1 {
    from {
      left: -100%;
    }
    to {
      left: 15%;
    }

  }
  .slika{
        height: 50vh;
    }
    #sl1{
        height: 50vh;
    }
    .about{
        height: 230px;
    }
  .swiper{
      max-width: 700px;
      height: 350px;
      margin-top: 100px;
    margin-bottom: 100px;
  }
  .text1 h2, .text h2{
      font-size: 50px;
  }
  .text1 #lorem1{
      margin-left: 0;
  }
  .sl2{
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 760px){
    .header ul{
        font-size: 15px;
    }
    .text h2{
        font-size: 42px;
    }
    .text #lorem, .text1 #lorem1{
        font-size: 22px;
    }
    .dugme{
        padding: 8xp 16px;
        font-size: 14px;
    }
    .swiper{
      max-width: 650px;
      height: 300px;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .slika{
        height: 45vh;
    }
    #sl1{
        height: 45vh;
    }
    .about{
        height: 200px;
    }
    
}

@media(max-width: 680px){
    .text{
        text-align: center;
    }
    .dugme{
        padding: 7xp 15px;
        font-size: 13px;
    }
    .text #lorem, .text1 #lorem1{
        font-size: 20px;
    }
    .slika{
        height: 40vh;
    }
    #sl1{
        height: 40vh;
    }
    .about{
        height: 190px;
    }
}
@media(max-width: 650px){
  .guide li {
    font-size: 13px;
  }
  .guide h1 {
    font-size: 25px;
  }
}
@media(max-width: 600px){
    .header ul{
        font-size: 13px;
    }
    .header ul #order{
        margin-left: 10px;
    }
    .header ul .instagram{
        top: -8px;
    }
}

@media(max-width:570px){
    .header ul{
        font-size: 12px;
    }
    .header ul #order{
        margin-left: -2px;
    }
    .dugme{
        padding: 6xp 13px;
        font-size: 13px;
    }
    .text #lorem, .text1 #lorem1{
        font-size: 18px;
    }
    .text1 h2, .text h2{
      font-size: 38px;
    }
    #logo{
        width: 185px;
        height: 75px;
        top: -10px;
    }
    .header ul .instagram{
        top: -8px;
    }
}
@media(max-width: 525px){
    .header ul #order{
        margin-left: -15px;
    }
}

@media (max-width: 500px){
    #order{
      padding-left: 18em;
    }
    .header ul .instagram a{
      display: none;
    }
    .header ul .instagram{
      margin-right: 2em;
    }
    .header{
        height: 55px;
    }
    .about p, .about1 p{
        font-size: 13px;
    }
    .slika{
        height: 40vh;
    }
    .sl2{
        height: 40vh;
    }
    #sl1{
        height: 40vh;
    }
    .underheader, .preslider{
        grid-template-columns: 1fr;
    }
    .text, .text1{
        margin:100px 0;
    }
    .text #lorem, .text1 #lorem1{
        font-size: 28px;
    }
    .text1 h2, .text h2{
      font-size: 50px;
    }
    .dugme{
        padding: 10xp 22px;
        font-size: 18px;
    }
    .swiper{
      max-width: 400px;
      height: 250px;
    }
    .about, .about1{
        height: 120px;
    }
    #logo{
        left: 3px;
    }
    .about, .about1{
        height: 200px;
        font-size: 18px;
    }
    .swiper{
        max-width: 350px;
        height: 240px;
    }
    #footerLogo{
        margin-left: -4em;
        width: 170px;
        height: 70px;
      }
      .footerInstagram{
        position: relative;
      margin-left: -8.7em;
      }
      #instagramF{
      margin-left: -1.5em;
      }
      .guide img{
        width: 100%;
      }
      .guide li{
        font-size: 14px;
      }
      #sl1 {
        width:100%;
        margin: 0;
      }
      .sl2 {
        width:110%;
      }
      
}

@media(max-width: 457px){
  #order{
    padding-left: 16em;
  }
  #footerLogo{
    margin-left: -4em;
    width: 170px;
    height: 70px;
  }
  .footerInstagram{
    position: relative;
  margin-left: -8.7em;
  }
  #instagramF{
  margin-left: -1.5em;
  }
}
@media(max-width: 416px){
  #order{
    padding-left: 12.9em;
  }
  .header ul .instagram{
    margin-right: 2em;
  }
  #footerLogo{
    margin-left: -4em;
    width: 170px;
    height: 70px;
    margin-top: 10px;
  }
  .footerInstagram{
    position: relative;
  margin-left: -8.7em;
  }
  #instagramF{
  margin-left: -1.5em;
  }
}
@media(max-width: 412px){
  #order{
    padding-left: 15.6em;
  }
  .header ul .instagram{
    margin-right: 17px;
  }
  .header ul .language {
    margin-right: -1em;
}
}
@media(max-width: 410px){
  #order{
    padding-left: 13em;
  }
  #footerLogo{
    margin-left: -4em;
    width: 170px;
    height: 70px;
  }
  .footerInstagram{
    position: relative;
  margin-left: -8.7em;
  }
  #instagramF{
  margin-left: -1.5em;
  }
}
@media(max-width: 400px){
    .swiper{
      max-width: 300px;
      height: 220px;
    }
    .text #lorem, .text1 #lorem1{
        font-size: 23px;
    }
    .text1 h2, .text h2{
      font-size: 42px;
    }
        .about p, .about1 p{
        font-size: 11px;
    }
}
@media(max-width: 393px){
  #order{
    padding-left: 15em;
  }
  .header ul .instagram{
    margin-right: 9.1em;
    margin-top: -1.2em;
  }
  .header ul .language {
    margin-right: -1em;
}
}
@media(max-width: 390px){
  #order{
    padding-left: 15em;
  }
  .header ul .instagram{
    margin-right: 9.1em;
    margin-top: -1.2em;
  }
  .header ul .language {
    margin-right: -1em;
}
}
@media(max-width: 376px){
  #order{
    padding-left: 14.3em;
  }
  .header ul .instagram{
    margin-right: 5px;
    margin-top: 0.08em;
  }
  .header ul .language {
    margin-right: -1em;
}
  #footerLogo{
    margin-left: -4em;
    width: 170px;
    height: 70px;
  }
  .footerInstagram{
    position: relative;
  margin-left: -8.7em;
  }
  #instagramF{
  margin-left: -1.5em;
  }
}